fish_variables
.config/fish/functions/
.config/fish/completions/
.config/fish/conf.d/
.config/kak/plugins/
.config/helix/runtime/grammars/
.config/tmux/plugins/*/
.config/micro/buffers/
.config/micro/backups/
.config/obs-studio/**/*.bak
!.config/tmux/plugins/gitmux/
!.config/tmux/plugins/smug/
.config/tmux/plugins/*/target/release
!.local/*
.weechat/logs/
.weechat/script/
.weechat/weechat.conf
.weechat/sec.conf
.weechat/alias.conf
.weechat/irc.conf
.weechat/relay.conf
.weechat/trigger.conf
.weechat/weechat.log
