# https://nouveau.freedesktop.org/Optimus.html
export DRI_PRIME=1
# https://wiki.archlinux.org/index.php/Hardware_video_acceleration
# export VDPAU_DRIVER=nvidia # (GM108) 940MX not supported
export VDPAU_DRIVER=va_gl
export LIBVA_DRIVER_NAME=iHD

# https://github.com/kovidgoyal/kitty/issues/469#issuecomment-419406438
export GLFW_IM_MODULE=ibus

# https://wiki.archlinux.org/index.php/IBus#Integration
export GTK_IM_MODULE=ibus
export QT_IM_MODULE=ibus
export XMODIFIERS=@im=ibus

# export PATH=$HOME/.dprint/bin:$PATH
export MICRO_TRUECOLOR=1 # enable true-color support for micro editor

# https://github.com/NixOS/nix/issues/2033#issuecomment-744059453
export NIX_PATH=$NIX_PATH:$HOME/.nix-defexpr/channels

export RUSTC_WRAPPER=sccache
export CARGO=`which cargo`

export XDG_CACHE_HOME=$HOME/.cache
export PATH=$HOME/.nimble/bin:$PATH
export PATH=`go env GOPATH`/bin:$PATH

# include all binary of all packages in package-manager installed via asdf into PATH
export PATH=`echo $HOME/.asdf/installs/*/*/bin | sed 's/ /:/g'`:$PATH
export PATH=`echo $HOME/.asdf/installs/nodejs/*/.npm/bin | sed 's/ /:/g'`:$PATH

# use podman for docker-compose
export DOCKER_HOST="unix://$XDG_RUNTIME_DIR/podman/podman.sock"

# https://www.rockyourcode.com/how-to-get-flutter-and-android-working-on-arch-linux/
#export JAVA_HOME=/usr/lib/jvm/java-14-openjdk
#export JAVA_OPTS="-XX:+IgnoreUnrecognizedVMOptions --add-modules java.se.ee"
export ANDROID_SDK_ROOT=/opt/android-sdk
